wp-includes/
wp-admin/
.htaccess
wp-config.php
wp-content/uploads/
wp-content/blogs.dir/
wp-content/upgrade/
wp-content/backup-db/
wp-content/advanced-cache.php
wp-content/wp-cache-config.php
wp-content/plugins/types/
sitemap.xml
*.log
wp-content/cache/
wp-content/backups/
sitemap.xml.gz
phpinfo.php
readme.html
readme.html
wp-content/plugins/advanced-custom-fields/
